.small{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.small div{
    margin-right:2px
}
.author{
    font-weight: bold;
    text-transform:Capitalize
}

.cardBottom{
    display: flex;
    align-items:center;
    /* border:1px solid blue */
}

.subTitle{
    font-weight: 900
}
.subTitle:hover{
    color: crimson;
    
    
}

.contentPointers  p::before{
    color: red;
    content: "•";
    font-size: 1.125rem;
    display: inline-block;
}

.contentPointers p {
    font-weight: 500;
}